.font-smoothing {
  -webkit-font-smoothing: antialiased;  
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

%title-font {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
}

%subtitle-font {
  font-family: 'Lora', serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
}

%navigation-font {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
}

%body-font {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}


h1 {
  @extend %title-font;
  font-size: rem(40);
  color: $primary;

  @include media($tablet) {
    font-size: rem(80);
  }
}

h2 {
  @extend %title-font;
  font-size: em(40);
  color: $primary;
  text-transform: uppercase;
  position: relative;

  &.inverse {
    color: $secondary;

    &:after {
      background-color: $secondary;
    }
  }
}

h4 {
  @extend %subtitle-font;
  font-size: em(20);

  &.inverse {
    color: $secondary;
  }
}

h3 {
  @extend %title-font;
  font-size: em(28);
  color: $primary;
  text-transform: uppercase;
  position: relative;
}

p {
  @extend %body-font;
  color: $primary;
  line-height: em(25);
  font-size: em(12); 

  @include media($tablet) {
    font-size: em(15);
    line-height: em(26);
  }
}



